<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    {% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}{% endblock title%}</title>
     #网页标题
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main(1).css' %}">
	#网页底部引入文件块
    {% block topfiles %} {% endblock topfiles %}
</head>
<body>
{#  网页详情页顶部#}
{% block header_con %}
	<div class="header_con">
{% endblock header_con %}
{#  网页搜索框#}

{% block search_bar%}
    <div class="search_bar clearfix">
{% endblock search_bar%}

{# 网页主题 #}
{% block body %}{% endblock body %}

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
{# 网页底部文件块 #}
{% block bottomfiles %}{% endblock bottomfiles %}
</body>
</html>